.comments__child--indent-1 {
	margin-left: 40px;
}

.comments__child--indent-2 {
	margin-left: 80px;
}

.comments__child--indent-3 {
	margin-left: 120px;
}

.comments__child--indent-4 {
	margin-left: 160px;
}