.likePost, .likeComment {
  font-size: 8px;
  svg {
    width: 18px;
    height: 18px;
  }
  &--edit {
    a {
      border-bottom: 0;
    }
  } 
}

.like__button--liked {
  border: 2px solid green;
  svg {
    fill: green;
  }
}

.comment.like {
  svg {
      width: 25px;
      fill: white;
    }
}