.single {	
	border: 1px solid black;
	margin: 20px 5px 0 5px;
}

.single__header {
	border-bottom: 2px solid black;
}

.single__body {
	
}

.single__body--box {
	width: 720px;
	height: 405px;
	margin: 10px auto;
}